.LoadingTodo-container span{
  width: 50px;
  height: 50px;
  margin: 0 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.LoadingTodo-container span:nth-child(2) {
  background-color: white;
  animation-delay: 0.4s;
}

.LoadingTodo-container span:nth-child(3) {
  background-color: white;
  animation-delay: 0.8s;
}

@keyframes dots {
    50%{
      opacity: 0;
      transform: scale(0.7) translateY(10px);
    }
}

.LoadingTodo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

 .LoadingTodo-text {
  position: relative;
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

body {
  background-color: black;
}

/*.LoadingTodo-completeIcon,
.LoadingTodo-deleteIcon {
  border-radius: 100px;
  height: 48px;
  width: 48px;
}

.LoadingTodo-completeIcon {
  position: absolute;
  left: 12px;
}

.LoadingTodo-deleteIcon {
  position: absolute;
  top: -24px;
  right: 0;
}

.LoadingTodo-container,
.LoadingTodo-completeIcon,
.LoadingTodo-deleteIcon {
  background: linear-gradient(90deg, rgba(250,250,250,1), rgb(200, 199, 199));
  background-size: 400% 400%;
  animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */